<!DOCTYPE HTML>
<html>
<head>
<title>Car BlackJack</title>
<link href="styles/style.css" rel="stylesheet">
</head>
<body>
  <div class='page'>
		<div class='legend'>
			<p>
			 Welcome to CatBlackJack casino<br>
	     House rules:<br>
	       * Start money - 1000$<br>
	       * Blackjack wins 3:2<br>
	       * Dealer stands at 17<br>
	       * Double-down only on first two cards<br>
	       * Double-down limited to 100% of bet<br>
			 </p>
		</div>
    <%= yield %>
  </div>
</body>
</html>
