<!DOCTYPE HTML>
<html>
<head>
<title>CatBlackJack</title>
<link href="styles/style.css" rel="stylesheet">
</head>
<body>
  <div class='page'>
		<div class='legend'>
      <h1>Welcome to CatBlackJack casino</h1><br>
      <h2>House rules:</h2><br>
      <p>
	       * Start money - 1000$
	       * Blackjack wins 3:2
	       * Dealer stands at 17
	       * Double-down only on first two cards
	       * Double-down limited to 100% of bet
			 </p>
		</div>
    <%= yield %>
  </div>
</body>
</html>
