<div class='betting-area'>
<b>Your Bet</b><br/>
  <div class='bet money'><%= settings.bet %></div>
  <div>
  		<a href='/more' name="more" class='btn'>+</a>
  		<a href='/less' name="less" class='btn'>-</a>
  </div>
  <div class='clear'></div>
</div>
<div>
  <b>Available Funds</b><br/>
  <span class='money'><%= settings.player.money %></span>
  <div class='clear'></div>
</div>
