<div class='betting-area line'>
<b>Your Bet</b><br/>
  <div id='bet' class='bet money'><%= settings.bet %></div>
  <div>
  		<a href='/more' class='btn'>+</a>
  		<a href='/less' class='btn'>-</a>
  </div>
  <div class='clear'></div>
</div>
<div class="line">
  <b>Available Funds</b><br/>
  <span id='money' class='money'><%= settings.player.money %></span>
  <div class='clear'></div>
</div>
